{# Étendre une vue à partir d'une vue de base #}
{% extends 'base.html.twig' %}

{# modifier le contenu d'un block da la vue parente#}
{% block title %}Accueil{% endblock %}

    {% block body %}

    <div class="example-wrapper">
        <div id="headerPage" >
            <h1>Accueil</h1>
            <p> Site fictif</p>
        </div>
    </div>

    {# *************************************************** Section actualitées Alternance ************************************************** #}
    <div class="container my-5">
        <div class="example-wrapper">
            <h2>Des échantillons d'alternances</h2>
        </div>

  <div class="row">
            {% for alternance in alternances %}
                <div class="col-md-3 mb-4">
                    <div class="card">
                        <img src="{{ asset('uploads/images/' ~ alternance.img) }}" class="card-img-top" alt="Image de l'alternance">
                        <div class="card-body">
                            <h5 class="card-title">{{ alternance.titre }}</h5>
                            <p class="card-text">{{ alternance.metier }}</p>
                            <a href="{{ path('app_alternances_show', {id: alternance.id}) }}" class="btn btn-primary">Voir les détails</a>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

    {# ***************************************************** Section actualitées stage ****************************************************** #}
    <div class="container my-5">
        <div class="example-wrapper">
            <h2>Des échantillons de stages</h2>
        </div>

       <div class="row">
            {% for stage in stages %}
                <div class="col-md-3 mb-4">
                    <div class="card">
                        <img src="{{ asset('uploads/images/' ~ stage.img) }}" class="card-img-top" alt="Image du stage">
                        <div class="card-body">
                            <h5 class="card-title">{{ stage.title }}</h5>
                            <p class="card-text">{{ stage.metier }}</p>
                            <a href="{{ path('app_stages_show', {id: stage.id}) }}" class="btn btn-primary">Voir les détails</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
