{# importation de la marco pour le fonctionnement des liens #}
{% from 'macros/navlink.macro.twig' import nav_link %}

{# ************************************* Fichier Navbarre **************************************** #}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

     {# *************************** logo ******************************#}
     <a class="navbar-brand" href="#">
      <img src="assets/img/AlternaStageConnect.jpg" alt="Logo" width="30" height="24">
    </a>

     {# ************************ navbarre *****************************#}
      <div class="navbar-nav"> 
        {{nav_link('Accueil','app_home' )}}
        {{nav_link('A propos','app_apropos' )}}
        {{nav_link('Alternances','app_alternances' )}}
        {{nav_link('Stages','app_stages' )}}
        {{nav_link('Tableau de bord','app_dashboard' )}}
        {{nav_link('Contact','app_contact' )}}
        {{nav_link('Annonces','app_annonce' )}}

      </div>
    </div>
  </div>
</nav>