{% extends 'base.html.twig' %}

{% block title %}Modifier une alternance{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <div id="headerPage" >
            <h1>Modifier une alternance</h1>
            <twig:BootstrapButton type="primary" path="{{ path('app_alternances') }}" text="Retourner à la liste" />
             {# <a href="{{ path('app_alternances') }}"> Retourner à la liste </a> #}
        </div>
    </div>
    <div class="container">
        <div class="row row-cols-1">
            {{ form(formEdit) }}
            <twig:BootstrapButton type="danger"path="{{ path('app_alternances_delete', { id: alternance.id }) }}"  text="Supprimer" /> 
        </div>
    </div>
    {# {{ dump(request )}}  #}

{% endblock %}