{% extends 'base.html.twig' %}

{% block title %}Alternances{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <div id="headerPage" >
            <h1>Alternances</h1>
            <p> Site fictif</p>
        </div>
    </div>
{# *************************  Multifiltres  ************************** #}
{{ form_start(formStageFilter) }}
<div id="filtres" class="row">
    <div class="col-4">
        {{ form_row(formStageFilter.Metier) }}
    </div>
    <div class="col-4">
        {{ form_row(formStageFilter.departement) }}
    </div>
    <div id="filtreRechercheAlternance" class="col-4">
        <button type="submit" id="rechercheFiltre" class="btn btn-primary w-100">Rechercher</button>
    </div>
</div>
{{ form_end(formStageFilter) }}
{# ************************* Fin des  Multifiltres  ************************** #}
   <div id="boutonAjoutAnnonce" class="row row-cols-4 ">
        <twig:BootstrapButton type="success" text="Ajouter une alternance" path="{{ path('app_alternances_create') }}" />
    </div>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-4 g-4">

            {# ********************* Les cards ****************** #}
            {% for alternance in alternances %}
                <div class="col mb-4">
                    <twig:BootstrapCard
                        title="{{ alternance.titre }}"
                        imgSrc="{{ alternance.img }}"
                        metier="{{ alternance.metier}}"
                    >
                    <twig:block name="buttons">
                        <twig:BootstrapButton type="primary" text="Détails" path="{{ path('app_alternances_show', { id: alternance.id }) }}" />
                        <twig:BootstrapButton type="warning" text="Modifier"path="{{ path('app_alternances_edit', { id: alternance.id }) }}" />
                        {# <twig:BootstrapButton type="danger" text="Supprimer"path="{{ path('app_alternances_delete', { id: alternance.id }) }}" /> #}
                    </twig:block> 
                    </twig:BootstrapCard>
                </div>
            {% else %} 
            <p> Aucune alternance n'a été trouvée </P
            {% endfor %}
    </div>

    {# {{dump(alternances)}} #}
    
{% endblock %}
