{% extends 'base.html.twig' %}

{% block title %}Alternances{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <div id="headerPage" >
            <h1>Alternances</h1>
            <p> Site fictif</p>
        </div>
    </div>
   <div id="boutonAjoutAnnonce" class="row row-cols-4 ">
        <twig:BootstrapButton type="success" text="Ajouter une alternance" path="{{ path('app_alternances_create') }}" />
    </div>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-4 g-4">

            {# ********************* Les cards ****************** #}
            {% for alternance in alternances %}
                <div class="col mb-4">
                    <twig:BootstrapCard
                        title="{{ alternance.titre }}"
                        imgSrc="{{ alternance.img }}"
                        metier="{{ alternance.metier}}"
                        btnLink=""
                        btnLabel="Détails"
                    >
                    </twig:BootstrapCard>
                </div>
            {% else %} 
            <p> Aucune alternance n'a été trouvée </P
            {% endfor %}
    </div>

    {# {{dump(alternances)}} #}

{% endblock %}
