{% extends 'base.html.twig' %}

{% block title %}Stage{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <div id="headerPage" >
            <h1>Stages</h1>
            <p> Site fictif</p>
        </div>
    </div>
{# *************************  Multifiltres  ************************** #}
{{ form_start(formStageFilter) }}
<div id="filtres" class="row">
    <div class="col-3">
        {{ form_row(formStageFilter.Metier) }}
    </div>
    <div class="col-3">
        {{ form_row(formStageFilter.departement) }}
    </div>
    <div class="col-3">
        {{ form_row(formStageFilter.periode) }}
    </div>
    <div id="filtreRechercheStage" class="col-3">
        <button type="submit" class="btn btn-primary w-100">Rechercher</button>
    </div>
</div>
{{ form_end(formStageFilter) }}
{# ************************* Fin des  Multifiltres  ************************** #}

<div id="boutonAjoutAnnonce" class="row row-cols-4 ">
        <twig:BootstrapButton type="success" text="Ajouter un stage" path="{{ path('app_stages_create') }}" />
    </div>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-4 g-4">

            {# ********************* Les cards ****************** #}
            {% for stage in stages %}
                <div class="col mb-4">
                    <twig:BootstrapCard
                        title="{{ stage.title }}"
                        imgSrc="{{ stage.img }}"
                        metier="{{ stage.metier}}"
                    >
                    <twig:block name="buttons">
                        <twig:BootstrapButton type="primary" text="Détails" path="{{ path('app_stages_show', { id: stage.id }) }}" />
                        <twig:BootstrapButton type="warning" text="Modifier"path="{{ path('app_stages_edit', { id: stage.id }) }}" />
                    </twig:block> 
                    </twig:BootstrapCard>
                </div>
            {% else %} 
            <p> Aucune stage n'a été trouvée </P
            {% endfor %}
    </div>
{% endblock %}
