<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {#vérification que twig utilise bootstrap #}
        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>

        {# message d'alerte pour toutes les pages si besoin #}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label == 'error' ? 'danger' : label }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        {# liens pour le header #}
        {% include('includes/nav.inc.twig') %}

        <main class="flex-shrink-0"
            <div class="container"
                {% block body %}{% endblock %}
            </div>

            {# alerte message #}
            {% for flashtype, messages in app.flashes %}
                {% for message in messages %}
                    <twig:BootstrapToast type="{{ flashtype }}" text="{{ message }}" />
                {% endfor %}
            {% endfor %}
        </main>

        {# {{ dump(app.user)}} #}

        {# liens pour le footer #}
        {% include('includes/footer.inc.twig') %}

    </body>
</html>
