{% extends 'base.html.twig' %}

{% block title %}Gestion des utilisateurs{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <div id="headerPage" >
        <h2>Gestion des utilisateurs</h2>
        </div>
    </div>
    <div class="container">
        <div class="row row-cols-1">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th>E-Mail</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Rôles</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <th scope="row">{{ user.id }}</th>
                        <td>{{ user.email }}</td>
                        <td>{{ user.lastname}}</td>
                        <td>{{ user.firstname }}</td>
                        <td>
                            <twig:BootstrapFormModal
                                btnText="Affecter les rôles" 
                                btnType="warning"
                                modalId="userRoleModal{{ user.id }}"
                                modelTitle=" Quel rôle pour : {{ user.lastname }} {{ user.firstname }} "
                            >
                            <ul class= "list-group">
                                <li class="list-group-item">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="user-role-modal{{ user.id }}-user" checked>
                                        <label class="form-check-label" for="user-role-modal{{ user.id }}-user">
                                            Utilisateur (par défault)
                                        </label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="user-role-modal{{ user.id }}-modo" >
                                        <label class="form-check-label" for="user-role-modal{{ user.id }}-modo">
                                            Modérateur
                                        </label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="user-role-modal{{ user.id }}-admin">
                                        <label class="form-check-label" for="user-role-modal{{ user.id }}-admin">
                                            Administrateur
                                        </label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="user-role-modal{{ user.id }}-superAd">
                                        <label class="form-check-label" for="user-role-modal{{ user.id }}-superAd">
                                            Super Administrateur
                                        </label>
                                    </div>
                                </li>
                            </ul>
                            </twig:BootstrapFormModal>
                        </td>

                        <td> 
                            <twig:BootstrapButton path="{{ path('app_user_delete', { id: user.id }) }}" text="Supprimer" type="danger" />
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
