{% extends 'base.html.twig' %}

{% block title %}Gestion des utilisateurs{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <div id="headerPage" >
        <h2>Gestion des utilisateurs</h2>
        </div>
    </div>
    <div class="container">
        <div class="row row-cols-1">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th>E-Mail</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Rôles</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <th scope="row">{{ user.id }}</th>
                        <td>{{ user.email }}</td>
                        <td>{{ user.lastname}}</td>
                        <td>{{ user.firstname }}</td>
                        <td>
                            <twig:BootstrapFormModal
                                btnText="Affecter les rôles" 
                                btnType="warning"
                                modalId="userRoleModal{{ user.id }}"
                                modelTitle=" Quel rôle pour : {{ user.lastname }} {{ user.firstname }} "
                            >
                              <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="checkChecked"checked>
                                    <label class="form-check-label" for="checkChecked">
                                        User
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="checkDefault" >
                                    <label class="form-check-label" for="checkDefault">
                                        Modérateur
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="checkDefault">
                                    <label class="form-check-label" for="checkDefault">
                                        Administrateur
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="checkDefault">
                                    <label class="form-check-label" for="checkDefault">
                                        Super Administrateur
                                    </label>
                                </div>
                            </twig:BootstrapFormModal>
                        </td>

                        <td> 
                            <twig:BootstrapButton path="{{ path('app_user_delete', { id: user.id }) }}" text="Supprimer" type="danger" />
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
